<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CXPRT -Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./static/img/favicon.png" rel="icon">
  <link href="./static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/vendor/aos/aos.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="./static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/css/style.css" rel="stylesheet">
<style>
#more {display: none;}
</style>
  </head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">CXPRT</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="./static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a class="nav-link scrollto" href="#services"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Mutual Funds</a></li>
              </li>
              <li><a href="#">Tax Saving Investment</a></li>
              <li><a href="#">Life Insurance</a></li>
              <li><a href="#">Equity Market</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Financial Planning For You</h1>
          <h2>
            Now trade in shares without any fear!
            Learn stock market basics with Mr. Pankaj Goyal from the convenience of your home.
            Presenting CXPRT online adviser in shares for beginners.
            </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="./static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="./static/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="./static/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="./static/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="./static/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="./static/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="./static/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              
          Why Choose Us
          
        </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Investment will be based on Risk Profiling.</li>
              <li><i class="ri-check-double-line"></i> Investment Model Consist of Different Classes of Assets.</li>
              <li><i class="ri-check-double-line"></i> Multi-Layer SIP Concept.</li>
              <li><i class="ri-check-double-line"></i> Transparency.</li>
              <li><i class="ri-check-double-line"></i> Achieving of Multiple Goals.</li>
              <li><i class="ri-check-double-line"></i> Portfolio Diversification.</li>
              <li><i class="ri-check-double-line"></i> Professional Support.</li>
           
           </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              
            What Our Clients Say

            <ul>
              <li><i class="ri-check-double-line"></i>In CXPRT we get special service embodies with technical research fundamentals background long term perspectives with steady growth.</li>
            </ul>
           
          </div>
          </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
            <img src="./static/img/skills.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
            <h3>How 5 In 5 Wealth Creation Strategy Simplifies Your Stock Market Investing Journey</h3>
            <p class="fst-italic">
            5 in 5 Wealth Creation Strategy is a portfolio of best long term stocks that help you diversify and minimize your risk while maximizing your returns.
            </p>

            <div class="skills-content">

              <div class="progress">
                <span class="skill">Personalized Portfolio <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Return Potential <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Detailed Research Reports <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

              <div class="progress">
                <span class="skill">Quarterly Result Updates <i class="val">65%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Helping You to Be Better Prepared For Tomorrow. We help you build a stock portfolio consisting of fundamentally sound businesses that helps you create wealth in the long term.</p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Mutual Funds</a></h4>
              <p>A mutual fund is a financial instrument, which pools the money of different investors and then a fund manager invests them in different investment options and securities
Investing in mutual fund is an easy way to diversify your investments across many securities and asset categories such as equity, debt and gold, which helps in spreading the risk - so you won't have all your eggs in one basket
Most importantly, investing in mutual funds is very affordable. For those who cannot allocate a significant portion of their earnings towards mutual funds, they can start investing with amounts as low as Rs 100 at predefined intervals. This is known as a Systematic Investment Plan (SIP). On the contrary, if you have a significant chunk of money to invest, you can even make a lump sum investment in a mutual fund. 
Mutual funds aid you in realizing your life’s superior goals quite easily</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Tax Saving Investment</a></h4>
              <p>All of these tax-saving instruments benefit from long-term investment spanning several years. As your responsibilities and needs grow in the future, their earnings can serve as excellent means of meeting your financial requirements such as education, weddings and retirement.
Most tax saving instruments offer more than just tax benefits. They also function as important schemes that build up a corpus to meet your short-term or long-term financial goals.
There are many smart ways to save taxes and enjoy the maximum savings possible. While choosing the right tax-saving investment plans it is important to consider the factors like Safety, Returns, and Liquidity. 
Tax saving also inculcates a financially healthy habit of setting aside a portion of your income for investments that can help you save taxes and protect your finances in the long run.
</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Life Insurance</a></h4>
              <p>Life insurance can give you lasting peace of mind in terms of the assurance that you have provided a legacy. That’s because the Right Coverage can offer a valuable combination of benefits, many guaranteed by the claims-paying ability of HDFC Life—so that you and your loved ones know exactly what you’re getting. Therefor proper financial valuation is being required before taking life insurance & our team will assist you for taking a right step for taking life insurance </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Equity Market</a></h4>
              <p>Equity is an asset class that offers great potential in maximizing returns. However, you must be willing to take on the required risk which can ran<span id="dots">...</span><span id="more">ge anywhere from moderate to high. Investment in equity market has the potential to offer higher returns that can help you combat the effects of inflation. Experienced and amateur investors have made significant gains with due financial planning and investing, especially in equity.  Thus, we here by gives you a chance to compound your money in the long run and accumulate wealth for various life goals. If you buy shares of a stable company and hold them for a considerable period of time, you can make a quite a fortune for yourself.</span>

</p>
              <button onclick="myFunction()" id="myBtn">Read more</button>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p> Technical Analysis is the study of only Price and Volume activity of each Day, Week,Month etc</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          </p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="./static/img/team/team-1.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Pankaj Goyal</h4>
                <span>Chartered Accountant</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="./static/img/team/team-2.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="./static/img/team/team-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="./static/img/team/team-4.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
          </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What is an Investment Advisory Firm? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                An investment advisory advises investors on buying and selling securities in exchange for a fee. An investment advisor can advise in two ways, offer advisory services directly to clients or issue investment advisory reports, videos, and other publications on specific securities. In a few cases, the investment advisory firm may use both options to offer advice.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Is financial advisory the same as wealth management? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  No, financial advisory and wealth management are not the same. The financial advisory provides investors with advice about buying and selling individual stocks. In contrast, wealth management is a broader term that includes a range of services such as portfolio management, estate planning, tax planning, and other financial services. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What Is The Role of an Investment / Stock Market Advisory Firm In India? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                 A stock market advisory firm in India acts as an investment advisor, providing advice on stock market investing. Such investment advisors offer advice for a fee; however, they do not help you buy or sell equity and other securities. The decision to buy or sell in the Indian stock market lies with you.
                </p>
              </div>
            </li>
             </p>
            </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p> #4, Opp.BSNL Office
                 Old GT Road Palwal -121102 (Hr.)</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>Pankaj.goyal@icai.org</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 9350402811</p>
              </div>

              <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=sanjay%20deep%20and%20associates+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="100%" height="600" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form"> -->
            <form action="{{ url_for('getData')}}" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CXPRT</h3>
            <p>
              Sanjay Deep & Associates <br>
              #4,Opp. BSNL Office<br>
              Old GT Road Palwal -121102 (Hr.)<br><br>
              <strong>Phone:</strong> +91 9350402811<br>
              <strong>Email:</strong> Pankaj.goyal@icai.org<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Corporate Planning</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Commodity</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">PMS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Private Equity</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Currency</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CXPRT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by 
        TECH
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/vendor/aos/aos.js"></script>
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="./static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/js/main.js"></script>

            # f = open(dirpath+txtpath, 'w')

            # for i in range(data.shape[0]):
            #     f.write(str(data[0].values[i])+ ' '+ str(data[1].values[i])+ ' '+ str(data[2].values[i])+ ' '+ str(data[3].values[i])+ ' '+ str(data[4].values[i])+'/n')
                
            # f.close()

</body>

</html>
